@import 'node_modules/bootstrap/scss/bootstrap.scss';

html {
    height: 100%;
}

body {
    background-color: #F8F8F8;
    height: 100%;
    margin: 0px;
}

.dv-main {
    height: 100%;
}

#dv-navbar {
    background-color: #5585ff;
    color: #fff;
    font-size: 20px;
    height: 8%;
}

#dv-contents {
    height: 92%;
}

.box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 4px 5px 5px lightblue;
    padding: 20px 10px;
}

.btn {
    padding: 4px 12px;
}